*{
    --color1: #000000;
    --color2: #92DCE5;
    --color3: #EEE5E9;
    --color4: #7C7C7C;
    --color5: #D64933;
    user-select: none;
    line-height: 1.5;
    letter-spacing: 2;
    word-spacing: 0.16;
}
body{
    height:100vh;
    background-size: cover;
    background-color: var(--color1);
}


section{
    padding: 10%;
    padding-top: 5%;
}

.tile{
    height: 264px;
    width: 189px;
    margin: 0 0;
    padding: 0 0;
    user-select: none;
}

.title{
    color: var(--color5);
}

.text{
    color: var(--color3);
    margin-left: 20px;
    margin-right: 20px;
}

.how{
    background-color: var(--color4);
}

*:focus-visible{
    border: 2px solid var(--color5);
    outline: none;
}

.nav-link{
   color: var(--color3);
}

.nav-link:hover{
    color: var(--color1);
    background-color: var(--color3);
}

.nav-link:focus-visible{
    color: var(--color3);
    outline: none;
}

a{
    text-align: center;
    text-decoration: none;
}

.active{
    color: var(--color3)
}


.start_button{
    margin: 10px;
    text-wrap: nowrap;
    width: fit-content;
    color: var(--color3);
    background-color: var(--color1);
    border: 0px
}

.start_button:hover{
    color: var(--color1);
    background-color: var(--color3);
}

.start_button:focus-visible{
    color: var(--color1);
    background-color: var(--color3);
    border: 2px solid var(--color5);
    user-select: none;
}

.board{
    width: 756px;
}
button{
    width: 50px;
}


.hand-base{
    position: fixed;
    overflow: hidden;
    z-index: 10;
    transition: height 0.3s ease;
    transform: translateX(-50%);
    bottom: 10px;
    left: 50%;
    height: 100px;
    width: fit-content;
}

.hand-base:hover{
    height: 300px;
    overflow: visible;
}

.hand:hover{
    transform: scale(120%);
}

.hand:focus-visible{
    transform: scale(120%);
}

.hand-base:focus-within{
    height: 300px;
    overflow: visible;
}

.hand{
    margin: 10px;
    border: 0px;
    transition: transform 0.3s ease;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.selected{
    border: 2px solid var(--color2);
    border-radius: 10px;
}
@media only screen and (max-width: 768px) {
    .tile{
        width: 47px;
        height: 66px;
    }
    .board{
        width: 189px;
        margin: 0 auto;
    }
    .presentation{
        width: 100%;
    }
    .hand-base{
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
}
